.git
.github
.vs
.vscode
artifacts
backup
deploy
tests
scripts
openapi
apps/apphost
apps/openapi
**/node_modules
apps/app/dist
apps/app/.tanstack
**/.env
**/bin
**/obj
**/.DS_Store
**/Thumbs.db
apps/api/Logs
