services:
  db:
    container_name: autodor_db
    image: postgres
    restart: always
    shm_size: 128mb
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgrespw
  # api:
  #   container_name: autodor_api
  #   image: ninjatechfun/autodor_api:latest
  #   build:
  #     context: ./api
  #     dockerfile: src/Web/Dockerfile
  #   depends_on:
  #     - db
  #   ports:
  #     - 7000:7000
  #   env_file:
  #     - path: ./deploy/envs/.local.env
