POSTGRES_DB=app_db
POSTGRES_USER=app_user
POSTGRES_PASSWORD=

ASPNETCORE_ENVIRONMENT=Production
ConnectionStrings__Default=Host=postgres;Port=5432;Database=app_db;Username=app_user;Password=;SSL Mode=Disable;Trust Server Certificate=true

Authentication__Identity__Authority=https://accepted-crane-74.clerk.accounts.dev
Authentication__Identity__Issuer=https://accepted-crane-74.clerk.accounts.dev
Authentication__Identity__Audience=
Authentication__Identity__SigningKey=

Modules__Orders__Products__Login=
Modules__Orders__Products__Password=
Modules__Orders__Products__LanguageId=1
Modules__Orders__Products__FormatId=1

Modules__Orders__DistributorsSales__Login=
Modules__Orders__DistributorsSales__Password=
Modules__Orders__DistributorsSales__DistributorCode=
Modules__Orders__DistributorsSales__LanguageId=1
Modules__Orders__DistributorsSales__BranchId=1

Modules__Invoicing__Provider=InFakt
Modules__Invoicing__InFakt__BaseUrl=https://api.infakt.pl/api/v3
Modules__Invoicing__InFakt__ApiKey=
Modules__Invoicing__IFirma__BaseUrl=https://www.ifirma.pl/iapi
Modules__Invoicing__IFirma__User=
Modules__Invoicing__IFirma__ApiKeys__Faktura=
Modules__Invoicing__IFirma__ApiKeys__Abonent=
Modules__Invoicing__IFirma__ApiKeys__Rachunek=
Modules__Invoicing__IFirma__ApiKeys__Wydatek=